.mini-grid {
    margin-left: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: $secCo;
    div {
        width: 20px;
        height: 20px;
        background-color: $secCo;
    }
    .tetrominoe {
        background-color: $tetroCo;
    }
}